# enable PHP
location ~ \.php$ {
  include snippets/fastcgi-php.conf;
  include fastcgi_params;
  fastcgi_pass unix:/run/php/php7.0-fpm.sock;
  fastcgi_param SCRIPT_FILENAME /var/www/{{ item.key }};public_html$fastcgi_script_name;
}
